# Python Exercise No: 4

# Subject: Dictionary and Set in python

### 1. What is meant by dictionary?

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

### 2. What is difference between dictionary and set?

To declare a dictionary, we use curly braces. But since it has key-value pairs instead of single values, this differentiates a dictionary from a set.

### 3. Create a python set of mixed data types?

In [1]:
a = {1, 2.5, 3, 4.8, 5, "India"}
a

{1, 2.5, 3, 4.8, 5, 'India'}

### 4. Create a Dictionary of employee name, Id and salary?

In [2]:
Employee={"Name": "Seema","ID":12 , "salary":25000}
Employee

{'Name': 'Seema', 'ID': 12, 'salary': 25000}

### 5. Display key-value pairs from dictionary using items () method?

In [3]:
Dictionary={'A':'India','B': 4,'C':8.9}
print(Dictionary.items())

dict_items([('A', 'India'), ('B', 4), ('C', 8.9)])

### 6. Create a dictionary and access values of 2nd key from the dictionary?

In [4]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d["USA"]

'USD'

### 7. Create a dictionary and then print empty dictionary using clear () method?

In [5]:
dic= {'name':'Raj','salary':10000,'age':24}
dic.clear()
dic

{}

### 8. Create a Dictionary of name, roll no, marks, gender and access keys from the dictionary using key () method?

In [6]:
dic={"Name":"Sayali","Marks":88,"Gender":"Female"}
print(dic)
key=dic.keys()
print(key)

{'Name': 'Sayali', 'Marks': 88, 'Gender': 'Female'}
dict_keys(['Name', 'Marks', 'Gender'])

### 9. Take set A for even and B for odd and print the union of two set?

In [7]:
A = {2,4,6,8}
B = {1,3,5,7}

print(A | B) # Union

{1, 2, 3, 4, 5, 6, 7, 8}

### 10. If A={1,2,3,4,5} and B={4,5,6,7,8} then find difference,  intersection of set A and B?

In [8]:
A={1,2,3,4,5}
B={4,5,6,7,8}

print(A & B) # Intersection
print(A - B) # Difference

{4, 5}
{1, 2, 3}

### 11. If set= {1, 2, 3, 5, 6} then add an element 4 in the set using add () function and remove 3 using discard () function?

In [17]:
set1= {1, 2, 3, 5, 6}
print(set1)

{1, 2, 3, 5, 6}

In [18]:
set1.add(4)
set1

{1, 2, 3, 4, 5, 6}

In [19]:
set1.discard(3)
set1

{1, 2, 4, 5, 6}

### 12. Add 12,9,11 in the set A = {1, 2, 3, 5, 6} using update () function?

In [10]:
A={1, 2, 3, 5, 6}
A.update({12,9,11})
A

{1, 2, 3, 5, 6, 9, 11, 12}

### 13. Create a set and print the sum of all the elements in the set?

In [11]:
A={1, 2, 3, 5, 6}
b=sum(A)
b

17

### 14. if myset={"a","p","p","l","e"}  then check whether a and r is in the set or not using membership operator?

In [12]:
myset={"a","p","p","l","e"}
if 'a' in myset:
    print("Present")
if 'r' in myset:
    print("Present")
else :
    print("Not Present")

Present
Not Present

### 15. Create a dictionary of players name and runs in match and print keys and values in dictionary using for loop?

In [13]:
players={"Sachin":120,"Dhoni":100,"Kohli":80}
for key in players:
    print(key, players[key])

Sachin 120
Dhoni 100
Kohli 80