# Python Exercise No: 3

# Subject: List and Tuple in python

### 1. What is tuple?

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated elements within parenthesis.

### 2. What is difference between list and tuple?

- The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable.
- List is useful for insertion and deletion operations.
- Tuple is useful for readonly operations like accessing elements.
- A list is created using square brackets [] whereas the tuple is ceated using parenthesis ().

### 3. What is the result of range (1, 12, 2)?

In [1]:
a=range(1,12,2)
a

range(1, 12, 2)

### 4. Assuming a= [10, 20, 30, 40, 50]

#### 1. Find length of a list?

In [2]:
a=[10, 20, 30, 40, 50]
length=len(a)
length

5

#### 2. Find maximum and minimum number of a list

In [3]:
maximum=max(a)
minimum=min(a)
print("The maximum & minumum  number of list is {},{}".format(maximum,minimum))

The maximum & minumum  number of list is 50,10

### 5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

In [4]:
x=(1,2,3,4,5,1,3,1)
print(x)
a=x*2
print(a)
b=x.count(1)
print(b)

(1, 2, 3, 4, 5, 1, 3, 1)
(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)
3

### 6. Create a list of colors name and then print first and last color name of the list using slicing?

In [5]:
colors=["Black","Pink","Red","Yellow","Green"]
print(colors)
first=colors[:1]
print(first)
last=colors[-1:]
print(last)

['Black', 'Pink', 'Red', 'Yellow', 'Green']
['Black']
['Green']

### 7. If list = [1,4,7,'a','c',"rat","mat",4,6,4] then  add element 12 using append method and remove rat element using remove method  in the given list?

In [6]:
L = [1,4,7,'a','c',"rat","mat",4,6,4]
print(L)

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4]

In [7]:
L.append(12)
L

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4, 12]

In [8]:
L.remove("rat")
L

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

### 8. Create two list and concatenate them and then repeat 1st list 3 times?

In [9]:
L1 = ["Chemistry", "Biology","Statistics"]
print(L1)
L2= [5,8,3]
print(L2)

new=L1 + L2
print ("Concatenated list is ",new)

['Chemistry', 'Biology', 'Statistics']
[5, 8, 3]
Concatenated list is  ['Chemistry', 'Biology', 'Statistics', 5, 8, 3]

In [12]:
L1*3

['Chemistry',
 'Biology',
 'Statistics',
 'Chemistry',
 'Biology',
 'Statistics',
 'Chemistry',
 'Biology',
 'Statistics']

### 9. Create a tuple of fruits name and then access first 4 elements from the tuple?

In [13]:
fruits=["Mango","Banana","Strawberry","Pineapple","Apple"]
print(fruits)
fruits[0:4]

['Mango', 'Banana', 'Strawberry', 'Pineapple', 'Apple']

['Mango', 'Banana', 'Strawberry', 'Pineapple']

### 10 .Create a list using range function and then convert this list into tuple using tuple function?

In [16]:
My_list = [*range(10, 21, 1)] 
print(My_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
tup=tuple(My_list)
tup

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

### 11. Create a tuple using eval function and then obtained the length of tuple?

The eval() allows us to execute arbitrary strings as Python code. It accepts a source string and returns an object.

Its syntax is as follows:

eval(expr, globals=None, locals=None)
- expression - the string parsed and evaluated as a Python expression
- globals (optional) - a dictionary
- locals (optional)- a mapping object. Dictionary is the standard and commonly used mapping type in Python.

In [27]:
a=eval("'python '*5")
a

'python python python python python '

In [28]:
len(a)

35

### 12. Create a tuple of integer number and then sort the elements of tuple?

In [34]:
tup=(15,2,30,67,8,50,13,1)
print(tup)
sort=sorted(tup)
sort

(15, 2, 30, 67, 8, 50, 13, 1)

[1, 2, 8, 13, 15, 30, 50, 67]

### 13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [39]:
colors=["Black","Pink","Red","Yellow","Green"]
print(colors)

colors.insert(2,"Purple")
print("New list is ",colors)

['Black', 'Pink', 'Red', 'Yellow', 'Green']
New list is  ['Black', 'Pink', 'Purple', 'Red', 'Yellow', 'Green']

### 14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [40]:
x= (50, 60, 70, 80, 90, (200,100)) 
x

(50, 60, 70, 80, 90, (200, 100))

In [41]:
x[5]

(200, 100)

### 15. Create a nested tuple and nested list?

In [42]:
L = ["Chemistry", "Biology", [1989, 2004], (5.8, 6.3)]
L

['Chemistry', 'Biology', [1989, 2004], (5.8, 6.3)]

In [43]:
t = (1,5,"Disco", ("Python", "Java"))
t

(1, 5, 'Disco', ('Python', 'Java'))