# Python Exercise No: 1

# Subject: Data types, Operators and Input and Output in python

### 1. What is variable? And rules to declare a variable in python?

 Ans :  A variable is a memory location where a programmer can store a value. 
            Example : If a=5,b="Name" means we store value 5 and string 'Name' in variable a & b.
    
    
   - Value is either string, numeric etc. Example : "Sara", 120, 25.36
   - Variables are created when first assigned.
   - Variables must be assigned before being referenced.
   - The value stored in a variable can be accessed or updated later.
   
 Python Variable Name Rules:
  - Must begin with a letter (a - z, A - B) or underscore (_).
  - Other characters can be letters, numbers or '_'.
  - Case Sensitive i.e in python "Name" is diffrrent from "name".
  - Variable name cannot start with letters.

### 2. What are the primitive built-in types in python?

 Ans : Python has four primitive types: 
 1. integers :
    Integers are the numeric values used in data or whole numbers.
    Example -  price=420
 
 2. floats :
    Floats are the floating points.We can use it for decimal numbers such as a= 4.5
 
 3. booleans :
    Boolean are data types that can take up the values: True and False. 
    They are useful for in conditional and comparison expression.
 
 4. strings :
    strings store the alphabet,word using a variable.It can be used in single or double quoted sign.o.w it will give a               error.

### 3. What is the mutatble and immutable object in Python,Which datatypes are immutable in Python?

Ans :  There are two types of objects in python i.e. Mutable and Immutable objects. 
      A mutable object can be changed after it is created, and an immutable object cannot change after it is created once.
        
   - Immutable Objects : These are of in-built types like int,float,bool,string,tuple.
   - Mutable Objects : These are of type list,dict,set.

 Immutable example:
tup = (0, 1, 2, 3)  
tup[0] = 4
print(tup)

string = "Data"
string[0] = 'b'
print(string)

It returns error because tuples  and strings both are immutable.

In [14]:
# Mutable example:
color = ["red", "blue", "green"] 
print(color) 
  
color[0] = "pink"
print(color)

['red', 'blue', 'green']
['pink', 'blue', 'green']

### 4. How to get the length of the string?

Ans : The length function gives the length of the variable stored.In python we use len() function to get length.

In [1]:
# To get length of variable
var="jupyter notebook"
len(var)

16

### 5. Which are the Relational Operators and their used in python?

Ans : Relational operators are symbols that perform operations on data and return a result as true or false depending on the           comparison conditions.
      Relational operators can be used to compare numbers as well as strings.
      
 Following are some relational operators in python:
     > : Greater than
     < : Less than
     >=: Greater than or equal to
     <=: Less than or equal to
     ==: Equals
     !=: Not equal to

### 6. what is the result of float(5), 10>="9", 10**2, len("basic python")?

In [2]:
# results 
print(float(5))
#print(10>="9")  #   It gives error '>=' not supported between instances of 'int' and 'str' i.e 9 is string here.

print(10**2)
print(len("basic python"))

5.0
100
12

### 7. what is meant by input and output? Which fuction is used to display output in python?

Ans :  Input is the data given by the user to computer to use it to perform actions and output is the result printed by computer        for the given input.
       In python  print(argument) function is used to display the argument provided by user.

In [3]:
sub=input()
print(sub)

Data Science
Data Science

### 8. Convert any integer number into float, string, and convert float into string, integer Convert string into float, integer?

In [4]:
# to convert integer number into float,string
a=70
b=float(a)
c=str(a)
print(b,type(b))
print(c,type(c))

70.0 <class 'float'>
70 <class 'str'>

In [5]:
# To convert float into integer ,string
d=3.7
e=int(d)
f=str(d)
print(e,type(e))
print(f,type(f))

3 <class 'int'>
3.7 <class 'str'>

In [6]:
#Convert string into float, integer
number="30"
h=int(number)
k=float(number)
print(h,type(h))
print(k,type(k))

30 <class 'int'>
30.0 <class 'float'>

### 9. Take integer number using input function from user?

In [7]:
number=int(input("Enter a number:"))
print(number)

Enter a number:45
45

### 10. Take two number using input function and find their sum?

In [8]:
number1=int(input("Enter first number:"))
number2=int(input("Enter second number:"))
addition=number1+number2
print(addition)

number1=float(input("Enter first number:"))
number2=float(input("Enter second number:"))
addition=number1+number2
print(addition)

Enter first number:50
Enter second number:67
117
Enter first number:23.6
Enter second number:12.5
36.1

### 11. Write a python program to accept two number using input function and use all the arithmetic operators?

In [9]:
first=int(input("Enter first  number:"))
second=int(input("Enter second number:"))
add=first+second
sub=first-second
mult=first*second
div=first/second
modulus=first%second
power=first**second
floor=first//second

print("The arithmetic operators such as addition,suntraction ,multiplication,division,modulus,power,floor division of two numbers are as {0},{1},{2},{3},{4},{5},{6}".format(add,sub,mult,div,modulus,power,floor))

Enter first  number:15
Enter second number:4
The arithmetic operators such as addition,suntraction ,multiplication,division,modulus,power,floor division of two numbers are as 19,11,60,3.75,3,50625,3

### 12. Check whether two numbers are equal or not using identity operator?

In [10]:
num_1=40
num_2=20
if (num_1 is num_2):
    print("True")
else:
    print("False")
    

num_1=10
num_2=10
if (num_1 is num_2):
    print("Both numbers are same")
else:
    print("Both numbers are  not same")

False
Both numbers are same

### 13. Write a python program to check whether two string are equal or not using comparison operator?

Ans : If the values of two variables are equal, then the condition becomes true.If they are not equal then it returns false.

In [11]:
country1="India"
country2="US"
country3="india"

print(country1 == country2)
print(country1 != country3)

False
True

### 14. Assign same value to three variable name a, b and c using one line command?

In [12]:
a,b,c=50,50,50
print(a,b,c)

# OR
a=b=c=120
print(a,b,c)

50 50 50
120 120 120

### 15. How to print address of variables in python?

Ans : We can print the address of variable using id() function.

In [13]:
num=5
print(id(num))

var="Data Science"
print(id(var))

140718084170256
1983135218416

### 16. Introduction of python? For eg, invention, version and installation?

Ans :  Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation.
    Python is named after the comedy television show Monty Python’s Flying Circus. It is not named after the Python snake.

   1. Readable: Python is a very readable language.
   2. Easy to Learn: Learning python is easy and it is easy to understand the language and thus easy to learn.
   3. There are two major Python versions: Python 2 and Python 3. Both are quite different. We can check the version of python         using command 'python --version'.

You can install Python on any operating system such as Windows, Mac OS X, Linux/Unix and others.

To install the Python on your operating system, go to this link: https://www.python.org/downloads/.
       
       
  OR Use following steps to install python:
   - Search Anaconda on your favorite search engine and open link with address anaconda.org.
   - Hover over Download Anaconda on the Anaconda homepage.
   - Select your operating system configuration.
   - Let the Anaconda finish downloading.
   - Click Next to start the installing process.
   - Agree to the Terms and Conditions.
   - Select “Just Me”.
   - Select the location where you want to download Anaconda.
   -  1- Check the box that says “Add Anaconda to my Path Variables”.
      2- Click Install.
   - Let Anaconda finish downloading.
   - Click Next to finish installation.
   - To open Jupyter Notebook, Hover over to windows home and scroll down . 
   - You will find Anaconda folder, Click over it and select Anaconda Navigator.
   - Click over launch Jupyter to open Jupyter Notebook.
   - You will be redirected to your browser with Jupyter Notebook.